img {
    max-width: 100px;
    max-height: 100px;
    }
#encabezado-home{
    margin-left: 100px;
    color: rgb(139, 32, 32);
    font-weight: 200;
    font-size: 40px;
    text-align: start;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
.contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-bottom: 30px;
    margin-top: 30px;
    }
.navbar-nav{ 
    color: rgb(8, 8, 8);
    }
h3{
    font-size: 20px;
    }
