.datos {
    color: aliceblue;
    align-items: center;
     text-align: center;
}
.quienes {
    color: aliceblue;
    margin: 50px;
    font-size: 20px;
    text-align: justify;
}
#contacto{
    color: hsla(244, 94%, 20%, 0.815);
    text-align: center;
    font-size: 25px;
    list-style-type: none;
}
.contact{
    padding: 30px;
    font-size: 20px;
}