#home-footer {
    background-color: rgb(97, 97, 97);
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    border:solid 3px rgb(7, 7, 7);
    border-radius: 10px;
}
.insta{
    height: 50px;
    border-radius: 25px;
}
.face{
    height: 50px;
    border-radius: 25px;
}
.whastapp{
    height: 50px;
    border-radius: 25px;
}
#redes{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    padding: 5px;
}
