#home-footer {
    color: aliceblue;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
    border:solid 2px rgb(99, 96, 96);
}
.insta{
    height: 50px;
}
.face{
    height: 50px;
}
.whastapp{
    height: 50px;
}
#redes{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    padding: 5px;
}
