@media screen and (max-width: 425px) {
    body{
        margin: 0px;
    }
    #encabezado-home{
        margin-left: 20px;
        font-size: 25px;
    }
    .insta{
        height: 40px;
    }
    .face{
        height: 40px;
    }
    .whastapp{
        height: 40px;
    }
    #iframe-inicio{
        margin-top: 0px;
        margin-bottom: 20px;
        max-height: fit-content;
        max-width:fit-content;
    }
    .contenedor {
        display: flex;
        flex-direction: wrap;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 5px;
        
    }
    img.local{
        margin: auto;
        margin-bottom: 10px; 
        max-width: 200px;
        max-height: 200px;
        display: flex;
        justify-content: center;
        }
    .quienes{
        font-size: 15px;
    }  
    #contacto{
        color: rgb(217, 219, 221);
        font-size: 15px;
        list-style-type: none;
    }           
    .paginas-videos {
        color:rgb(139, 32, 32);
        font-size: 20px;
        text-align: center;
    }
    iframe{
        display: block;
        margin: 0 auto;
        width: 300px;
        height: 220px;
    }
    .puntos-de-venta{
        font-size: 15px;
    }
    .logo-inicio img{
        max-width: 50px;
        max-height: 50px;
    }
    h2 {
        font-size: 20px;
        text-align: center;
    }
    .contenedor img{
        max-width: 100px;
        max-height: 75px;
        margin: 5px;
    }
    
}